<!DOCTYPE html>
<html>
<head>
	<title>Artists</title>

	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-default navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href"#">Artists</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% allArtists.forEach(function(artist) { %>
					<div>
						<a href="/artist/<%= artist.id %>"> <%= artist.name %> </a>
					</div>
				<% });%>
			</div>
			
		</div>
		
	</div>
</body>
</html>